<div class="modal fade" id="chromeExtCssPickerModalTemplate" tabindex="-1" role="dialog" aria-labelledby="chromeExtCssPickerModalTemplateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="chromeExtCssPickerModalTemplateLabel">Inspecting </h4><span class="dom-element">{{ data.element }}</span>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary" id="chromeExtCssPickerModalTemplateSave">Save in History</button>-->
      </div>
    </div>
  </div>
</div>